<div class="container" *ngIf="post">
  <br />
  <h1>Create news</h1>
  <br />
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">News Title</label>
      <input
        type="text"
        class="form-control"
        name="BlogTitle"
        [(ngModel)]="post.blogTitle"

      />
    </div>

    <div class="mb-3">
      <label class="form-label">News Image Url</label>
      <input
        type="text"
        class="form-control"
        name="BlogImageUrl"
        [(ngModel)]="post.blogImageUrl"
      />
    </div>

    <div class="mb-3">
      <label class="form-label">News Content</label>
      <input
        type="text"
        class="form-control"
        name="BlogContent"
        [(ngModel)]="post.blogContent"
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Summary</label>
      <input
        type="text"
        class="form-control"
        name="Summary"
        [(ngModel)]="post.blogSummary"
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Url Handle</label>
      <input
        type="text"
        class="form-control"
        name="urlHandle"
        [(ngModel)]="post.urlHandle"
      />
    </div>

    <div class="form-check mb-3">
      <input
        type="checkbox"
        class="form-check-input"
        name="Visible"
        [(ngModel)]="post.visible"
      />
      <label class="form-check-label">Visible</label>
    </div>

    <div class="mb-3">
      <label class="form-label">Published Date</label>
      <input
        type="text"
        class="form-control"
        name="PublishedDate"
        [(ngModel)]="post.publishedDate"
      />

      <div class="mb-3">
        <label class="form-label">Edited Date</label>
        <input
          type="text"
          class="form-control"
          name="EditedDate"
          [(ngModel)]="post.editedDate"
        />

        <div class="mb-3">
          <button class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </form>
</div>
